#big{
  border:1px solid #ccc;
  background:#eee;
  border-radius:4px;
  padding:9px;
  cursor: crosshair;
  resize: both;
}
#small{
  border:1px solid #ccc;
  background:#eee;
  padding:29px;
  border-radius:4px;
}
#colourPreview:before{
  position:absolute;
  content: "Colour Preview ->";
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  top:0;
  left:0;
  padding:4px 8px 4px 4px;
  background:rgba(255,255,255,0.7);
}
#colourPreview{
  position:relative;
  border-radius:4px;
  padding:4px;
  background: rgb(0,0,0);
}
#scalePreview{
  display:inline-block;
  background:#000;
}